<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Twentiment - Live Twitter Sentiment Analysis</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat+Alternates:400,700">
        <script src="scripts/vendor/modernizr.min.js"></script>
    </head>
    <body>
    <header role="banner" ng-submit="search(query)" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">Twentiment</a>
                <form class="global-search form-horizontal">
                    <label for="query" class="control-label"><i class="logo-icon icon-twitter-sign"></i>Search Tweets for</label>
                    <div class="control">
                        <input type="text" name="query" ng-model="query" placeholder="Enter search query …">
                        <a class="btn btn-info" ng-click="search(query)"><i class="icon-refresh"></i> Refresh</a>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <div class="container" role="main" ng-controller="SearchController">
        <ul class="twitter-list unstyled">
            <div ng-repeat="tweet in tweets">
                <li class="tweet positive">
                    <div class="avatar-frame">
                        <img ng-src="http://a0.twimg.com/profile_images/2502859589/nxqs1t0xa8n5jm1w0c4q_normal.jpeg" class="avatar avatar-60 photo" height="60" width="60" src="http://a0.twimg.com/profile_images/2502859589/nxqs1t0xa8n5jm1w0c4q_normal.jpeg">
                    </div>

                    <div class="body">
                        <header>
                            <span class="username">Addy Osmani</span>
                            <a class="userhandle" href="https://twitter.com/addyosmani" target="_blank">@addyosmani</a>
                        </header>
                        <div class="text">The Breakpoint: Episode 1 - We talk Chrome DevTools, Yeoman and AngularJS generators <a href="https://t.co/2FpVcpld">https://t.co/2FpVcpld</a></div>
                        <footer>
                            <time class="date" datetime="2006-09-24T05:00-07:00">2006-09-24 07:25</time>
                        </footer>
                    </div>

                    <aside class="meta">
                        <span class="sentiment">0.53</span>
                    </aside>
                </li>
            </div>
        </ul>
    </div>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <script>
        var _gaq=[['_setAccount','UA-587894-14'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <!-- build:js scripts/amd-app.js -->
    <script data-main="scripts/main" src="scripts/vendor/require.js"></script>
    <!-- endbuild -->
    </body>
</html>
<!-- vim:tw=140:ft=html: -->
